name: hosts

on:
  schedule:
    - cron: '0/30 * * * *'

  workflow_dispatch:
    inputs:
      dns:
        description: 'DNS'
        required: true
        default: 'Aliyun'
        type: choice
        options:
        - 'Google'
        - 'OpenDNS'
        - 'AT&T'
        - 'Aliyun'
        - 'LG'
        - 'IONICA'

jobs:
  hosts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: Init Env
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          sudo timedatectl set-timezone "Asia/Shanghai"
          python -m pip install --upgrade pip setuptools
          python -m pip install dnspython
          
      - name: Set DNS Env
        run: |
          DNS=${{ inputs.dns || 'Aliyun' }}
          echo "DNS=$DNS" >> $GITHUB_ENV
          echo "Using DNS: $DNS"
      
      - name: Get Hosts
        shell: python
        run: |
          import os, time, dns.resolver

          class dnsChecker():
              def __init__(self) -> None:
                  self.dnsServers = {
                      "Google": {
                          "ip": "8.8.8.8",
                          "provider": "Google",
                          "location": "Mountain View CA, United States",
                          "country": "us"
                      },
                      "OpenDNS": {
                          "ip": "208.67.222.222",
                          "provider": "OpenDNS",
                          "location": "Holtsville NY, United States",
                          "country": "us"
                      },
                      "AT&T": {
                          "ip": "68.94.156.1",
                          "provider": "AT&T Services",
                          "location": "Miami, United States",
                          "country": "us"
                      },
                      "Aliyun": {
                          "ip": "223.5.5.5",
                          "provider": "Aliyun Computing Co. Ltd",
                          "location": "Hangzhou, China",
                          "country": "cn"
                      },
                      "LG": {
                          "ip": "211.34.202.125",
                          "provider": "LG Dacom Corporation",
                          "location": "Seoul, South Korea",
                          "country": "kr"
                      },
                      "IONICA": {
                          "ip": "178.132.76.76",
                          "provider": "IONICA LLC",
                          "location": "Ramenskoye, Russia",
                          "country": "ru"
                      }
                  }
                  self.dns_ip = self.dnsServers['Aliyun']['ip']
                  self.resolver = dns.resolver.Resolver()
                  self.resolver.nameservers = [self.dns_ip]

              def setServers(self, servers=''):
                  if servers in self.dnsServers:
                      self.dns_ip = self.dnsServers[servers]['ip']
                      self.resolver.nameservers = [self.dns_ip]
                      print(f"Switched to DNS server: {self.dns_ip}")

              def getServers(self, servers=''):
                  for i in self.dnsServers:
                      if self.dnsServers[i]['ip'] == self.dns_ip:
                          return self.dnsServers[i]
                  return None

              def check(self, qname='', rdtype='A'):
                  ret = False
                  ips = []
                  try:
                      answers = self.resolver.resolve(qname, rdtype)
                      ips = [str(rdata) for rdata in answers]
                      if ips:
                          ret = True
                          print(f"Resolved {qname}: {ips[0]}")
                      else:
                          print(f"No IPs found for {qname}")
                  except Exception as err:
                      print(f"Failed to resolve {qname}: {err}")
                  return ret, ips


          if __name__ == '__main__':
              gitHubDoMains = [
                  "github.io",
                  "github.com",
                  "github.blog",
                  "github.community",
                  "api.github.com",
                  "gist.github.com",
                  "codeload.github.com",
                  "central.github.com",
                  "collector.github.com",
                  "raw.github.com",
                  "docs.github.com",
                  "assets-cdn.github.com",
                  "raw.githubusercontent.com",
                  "camo.githubusercontent.com",
                  "cloud.githubusercontent.com",
                  "media.githubusercontent.com",
                  "desktop.githubusercontent.com",
                  "objects.githubusercontent.com",
                  "favicons.githubusercontent.com",
                  "avatars5.githubusercontent.com",
                  "avatars4.githubusercontent.com",
                  "avatars3.githubusercontent.com",
                  "avatars2.githubusercontent.com",
                  "avatars1.githubusercontent.com",
                  "avatars0.githubusercontent.com",
                  "avatars.githubusercontent.com",
                  "user-images.githubusercontent.com",
                  "copilot-proxy.githubusercontent.com",
                  "github-releases.githubusercontent.com",
                  "pipelines.actions.githubusercontent.com",
                  "pipelinesghubeus7.actions.githubusercontent.com",
                  "githubstatus.com",
                  "collector.githubapp.com",
                  "github.githubassets.com",
                  "analytics.githubassets.com",
                  "github.map.fastly.net",
                  "github.global.ssl.fastly.net",
                  "github-cloud.s3.amazonaws.com",
                  "github-com.s3.amazonaws.com",
                  "github-production-release-asset-2e65be.s3.amazonaws.com",
                  "github-production-user-asset-6210df.s3.amazonaws.com",
                  "github-production-repository-file-5c1aeb.s3.amazonaws.com"
              ]
              
              dockerDoMains = [
                  "registry.hub.docker.com",
                  "hub.docker.com",
                  "registry-1.docker.io",
                  "auth.docker.io",
                  "download.docker.com",
                  "desktop.docker.com",
                  "production.cloudflare.docker.com",
                  "ghcr.io",
                  "gcr.io",
                  "k8s.gcr.io",
                  "quay.io"
              ]
              
              dnsobj = dnsChecker()

              dnsservers = os.getenv('DNS', 'Aliyun')
              print(f"Selected DNS: {dnsservers}")
              dnsobj.setServers(dnsservers)

              dnsList = []
              dnsList.append('# ING Hosts Start')
              dnsList.append('# Raw Url: https://raw.githubusercontent.com/zwrt/hosts/main/hosts')
              dnsList.append('# CDN Url: https://gcore.jsdelivr.net/gh/zwrt/hosts@main/hosts')
              dnsList.append('# CDN Url: https://cdn.staticaly.com/gh/zwrt/hosts/main/hosts')
              dnsList.append('# DNS Servers: {}'.format(dnsobj.getServers()['provider']))
              dnsList.append('# Update at: {}'.format(time.strftime("%Y-%m-%d %H:%M:%S")))

              # GitHub
              dnsList.append('# GitHub Hosts Start')
              for domain in gitHubDoMains:
                  ret, ips = dnsobj.check(domain, 'A')
                  if ret == True and ips:
                      ip = ips[0].strip()  # 只取第一个 IP，并去除空白
                      dnsList.append((ip.ljust(16) + domain))
                  else:
                      print(f"Skipping GitHub {domain} due to resolution failure")
              dnsList.append('# GitHub Hosts End')
              
              # Docker
              dnsList.append('# Docker Hosts Start')
              for domain in dockerDoMains:
                  ret, ips = dnsobj.check(domain, 'A')
                  if ret == True and ips:
                      ip = ips[0].strip()  # 只取第一个 IP，并去除空白
                      dnsList.append((ip.ljust(16) + domain))
                  else:
                      print(f"Skipping Docker {domain} due to resolution failure")
              dnsList.append('# Docker Hosts End')
              
              dnsList.append('# ING Hosts End')
              
              with open('hosts', 'w', encoding="utf-8") as f:
                  f.writelines('\n'.join(dnsList) + '\n')
              print("Hosts file generated successfully.")

      - name: Check and Push
        run: |
          if [ -n "$(git status --porcelain hosts)" ]; then
            git add hosts
            git commit -m "update $(date +%Y-%m-%d" "%H:%M:%S)"
            git push -f
            echo "Pushed updates to hosts file."
          else
            echo "No changes to hosts file."
          fi

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 0.1
          keep_minimum_runs: 0
